@use "../utils";

.footer {
    background-color: utils.$base-green;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    //position: absolute;
    // bottom: 0;
    width: 100%;
}


.footer__text {
    color: utils.$white-color;
    text-align: center;

    &--size_large {
        font-size: 3.2rem;
        font-weight: utils.$font-size-regular;
    }

    &--size_small {
        font-size: 2rem;
        font-weight: utils.$font-size-light;
    }
}
