@use "../../utils";

.certificates {
    @include utils.wrapper;
}

.certificates-wrapper {
    @include utils.main-wrapper;
}

.certificate-name-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.certificate__name {
    margin-right: 1rem;
}

.certificate-department-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.certificate-date-wrapper {
    display: flex;
    flex-wrap: wrap;
}