{% extends 'template.html' %}

{%block title%}{{ title }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mfc/css/scss/pages-styles/add-certificate/add-certificate.css' %}" />


<section class="certificates">
    <h1 class="certificates__title">Получить документ</h1>
    <form class="certificates__form" action="" method="post">
        {% csrf_token %}
        <div class="certificates-wrapper certificate">
            <ul class="certificate__fields">
                <li class="certificate__item">
                    <p class="certificate__text">
                        Вы хотите оформить
                    </p>
                    <p class="certificate__name">
                        {{ certificate.name }}
                        <a href="{% url 'certificates' %}" class="certificate__change-link"> Изменить</a>
                    </p>
                <li class="certificate__item">
                    <p class="certificate__text">
                        Выберите отделение, где вы хотите получить документ:
                    </p>
                    {{ form.department }}
                </li>
            </ul>
            <button class="certificate__submit" type="submit">Отправить</button>

        </div>
    </form>
</section>

{% endblock %}