{% extends 'template.html' %}

{%block title%}{{ title }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "mfc/css/scss/pages-styles/certificates/certificates.css" %}" />


<section class="certificates">
    <h1 class="certificates__title">Справки</h1>
    <ul class="certificates-list">

        {% for certificate in certificatesList %}

        <li class="certificates__certificate-item">
            <a href="{% url 'add-certificate' certificate.certificate_id %}" class="certificates__certificate-link">
                {{ certificate.name }}
            </a>
        </li>

        {% endfor %}
    </ul>
</section>

{% endblock %}