@use "../utils";

.header {
    @include utils.wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    background-color: utils.$base-color-dark;
    height: 6rem;

    @include utils.for-tablet-landscape-down {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 12rem;
    }

    @include utils.for-phone-only {
        height: 17rem;
    }
}

.logo {
    background-color: utils.$base-color;
    display: flex;
    align-items: center;
    width: 19.8rem;
    height: 4.4rem;
    border-radius: 0.4rem;
    position: relative;

}

.logo__svg {
    margin-right: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
}

.logo__text {
    position: absolute;
    right: 0.4rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: utils.$font-size-medium;
    font-size: 2.4rem;
    color: utils.$dark-gray;
}

.header__right-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;

    @include utils.for-phone-only {
        flex-direction: column;
    }

}

.header__search {
    height: 4.4rem;
    width: 27.5rem;
    border: 0;
    border-radius: 3px;
    background-color: utils.$white-color;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: utils.$font-size-regular;
    margin-right: 1.7rem;
    padding-left: 0.8rem;

    @include utils.for-phone-only {
        width: 21.5rem;
    }
}

.magnifier-svg {
    right: 5.5rem;
    margin-bottom: -1rem;
    margin-left: -2rem;
}

.header-navigation-wrapper {
    @include utils.wrapper;
}

.header__account-text {
    color: utils.$white-color;
    font-size: 2rem;

    @include utils.for-phone-only {
        margin-top: 1rem;
    }
}

.header__account-link {
    color: utils.$white-color;
    font-size: 1.5rem;

}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-height: 9rem;
    background-color: utils.$light-gray;
    z-index: 10;
    width: 100%;
}

.nav-item {
    //max-width: 28rem;
    //width: 100%;
    min-width: 14rem;
    max-width: 14rem;
    height: 6rem;
    margin-top: 1rem;

}


.nav-item:hover a svg path {
    transition: 0.25s;
    fill: utils.$dark-gray;
}



.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.nav-text {
    font-size: 1.8rem;
    font-weight: utils.$font-size-regular;
    line-height: 22px;
    color: black;
    text-align: center;
}

.header__submit-button {
    width: 3.5rem;
    height: 3.5rem;
    //display: block;

    background-color: Transparent;
    //background-repeat: no-repeat;
    border: none;


}