@use "../../utils";


.links {
    background-color: utils.$base-color-modified;
    //box-sizing: border-box;
}


.links-wrapper {
    @include utils.wrapper;
    padding-top: 7.6rem;
}


.links__links {
    display: grid;
    justify-content: center;
    //flex-wrap: wrap;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(55rem, 55rem));
    gap: 4rem;
    margin-bottom: 7.6rem;
}


.links__link-item {
    width: 55rem;
    height: 14.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: utils.$white-color;
    border-radius: 3rem;
}

.links__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: utils.$font-size-regular;
    font-size: 2.4rem;
    color: black;
}

.links__svg {
    margin-right: 2.5rem;
}