@use "../../utils";

.main-article {
    background-color: utils.$light-red;
    @include utils.wrapper;

}

.main-article-wrapper {
    display: flex;
    justify-content: center;
    @include utils.main-wrapper;
    padding-top: 14rem;
    padding-bottom: 14rem;
    //overflow: hidden;
}


.article__image {
    max-width: 66.5rem;
    border-radius: 3rem;
    margin-right: 4.2rem;
    object-fit: cover;
}

.article__link {
    border: 0.05rem solid black;
    background-color: #FCFFFF;
    width: 16rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: utils.$font-size-light;
    text-decoration: none;
    color: black;
    border-radius: 2.25rem;
    margin-top: 3rem;
}

.article__title {
    font-weight: utils.$font-size-bold;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: left;
}

.article__article-text {
    margin-top: 1rem;
    font-weight: utils.$font-size-regular;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;


}

.article__number-button {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: utils.$gray-color;
    border: 0;
    transition: 1s;
}

.article__number-button:checked {
    width: 6rem;
    background-color: utils.$orange-color;
}
