@use "../../utils";

.main-article {
    background-color: utils.$light-red;
    @include utils.wrapper;

}

.main-article-wrapper {
    display: flex;
    justify-content: center;
    @include utils.main-wrapper;
    padding-top: 14rem;
    padding-bottom: 14rem;
    position: relative;
    width: 100%;

    @include utils.for-tablets-and-phones {
        padding-top: 8rem;
        padding-bottom: 35rem;
    }
}

.main-article__buttons-wrapper {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 8rem;
}

.main-article-edit {
    position: absolute;
    bottom: 4rem;
    text-decoration: none;
    font-weight: utils.$font-size-medium;
    color: utils.$dark-gray;
    transition: 0.5s;
    border-bottom: solid utils.$light-red 0.1rem;
}

.main-article-edit:hover {
    border-bottom: solid utils.$base-color-dark 0.1rem;
    color: utils.$base-color-dark;
}

.article {
    transition: 0.5s;
    height: 37rem;

    @include utils.for-tablets-and-phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 47rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.article-text-wrapper {
    @include utils.for-tablets-and-phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 66.5rem;
        width: 100%;
    }
}

.article__image {
    max-width: 66.5rem;
    border-radius: 3rem;
    margin-right: 4.2rem;
    width: 100%;
    object-fit: cover;

    @include utils.for-tablets-and-phones {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.article__link {
    border: 0.05rem solid black;
    background-color: #FCFFFF;
    width: 16rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: utils.$font-size-light;
    text-decoration: none;
    color: black;
    border-radius: 2.25rem;
    margin-top: 3rem;
}

.article__title {
    font-weight: utils.$font-size-bold;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: left;
}

.article__article-text {
    margin-top: 1rem;
    font-weight: utils.$font-size-regular;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;


}

.article__number-button {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: utils.$gray-color;
    border: 0;
    transition: 1s;
}

.article__number-button:checked {
    width: 6rem;
    background-color: utils.$orange-color;
}