//font
$font-size-bold: 700;
$font-size-medium: 600;
$font-size-pre-medium: 500;
$font-size-regular: 400;
$font-size-light: 300;

//colors
$base-color: #D3EBEB;
$base-color-dark: #00B2B2;
$orange-color: #EA6C43;
$white-color: #F8FAFA;
$light-gray: #DBE2E2;
$dark-gray: #334242;
$base-green: #7E9C9B;
$base-color-modified: #D3E8E8;
$font-gray: #393939;
$light-red: #FEF9F3;
