{% extends 'mfc/template.html' %}

{%block title%}{{ title }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mfc/css/scss/pages-styles/eit-article/edit-article.css' %}" />

<form action="" class="edit-article__form form">
    {% csrf_token %}


    <label for="form-title">
        {{ form.title }}
    </label>
    <label for="form-body">
        {{ form.body }}
    </label>
    <label for="form-image">
        {{ form.image }}
    </label>
</form>


{% endblock %}